<section id="about">
    <h1>All About {{pokemonData.pokemon_name}}</h1>
    <div class="about-cont">
    <img src="/images/{{pokemonData.pokemon_img}}" alt="pokemon image">
    <div class="info">
        <p>Type: {{pokemonData.pokemon_type}}</p>
        <p>Spawn Location: {{pokemonData.pokemon_spawn}}</p>
        <p>{{pokemonData.pokemon_desc}}</p>
    </div>
    </div>
</section>
